In [41]:
import pandas as pd

# BASE_PATH = '/home/lucas/data/movies/dailyboxoffice'
# df = pd.read_parquet(BASE_PATH)

In [42]:
A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

In [43]:
print(A)

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N        None

In [44]:
B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})

In [45]:
print(B)

  movieCd multiMovieYn repNationCd
0    1001         None        None
1    1003            Y           F
2    1004            Y           K

In [46]:
# TODO
r_df = A.set_index("movieCd").combine_first(B.set_index("movieCd")).reset_index()
r_df

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

In [47]:
merged_df = A.merge(B, on="movieCd", how="outer", suffixes=("_A", "_B"))
print(merged_df)
#  movieCd multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
# 0    1001              Y             K           None          None
# 1    1002              Y             F            NaN           NaN
# 2    1003              N          None              Y             F
# 3    1004            NaN           NaN              Y             K

  movieCd multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
0    1001              Y             K           None          None
1    1002              Y             F            NaN           NaN
2    1003              N          None              Y             F
3    1004            NaN           NaN              Y             K

In [48]:
merged_df = A.merge(B, on="movieCd", how="outer", suffixes=("_A", "_B"))

# 결측치(NaN, None) 채우기: A값이 없으면 B값 사용
merged_df["multiMovieYn"] = merged_df["multiMovieYn_A"].combine_first(merged_df["multiMovieYn_B"])
merged_df["repNationCd"] = merged_df["repNationCd_A"].combine_first(merged_df["repNationCd_B"])

result_df = merged_df[["movieCd", "multiMovieYn", "repNationCd"]]

result_df

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K